<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.the_health_compass">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheHealthCompass"
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".consult_house_doctor"></activity>
        <activity android:name=".Edit_Profile_Sick" />
        <activity
            android:name=".sick_profile"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".consult_house"
            tools:ignore="Instantiatable" />
        <activity android:name=".sing_up_sick" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".medical_advice"
            tools:ignore="Instantiatable" />
        <activity android:name=".sign_up" />
        <activity android:name=".main_activity">

        </activity>
    </application>

</manifest>